<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 3.2//EN">
<html>
<style>
    body
    {
        font-family:"Arial", sans-serif;
        font-size: 10pt;
    }

    p
    {
        line-height: 150%;
    }
    table.footer
    {
        font-size: 10pt;
        margin-top: 15px;
        line-height: 150%;
    }
    table.order
    {
        border-collapse: collapse;
    }
    table.order td
    {
        font-size: 10pt;
        border: 1px solid #000000;
    }

</style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title langs="ru">Счет</title>
</head>
<body bgcolor="white" lang="RU" style="max-width: 310px">


<div class="Section1" style="width: 310px">

    <h2 style="text-align: center">Видаткова накладна №{{ order.number }}</h2>
    <p style="text-align: center">від {{ order.createdAt|date("d.m.Y") }}</p>
    <p style="text-decoration: underline"><b>Постачальник:</b></p>
    <p style="margin-left: 20px"><b></b>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "РОЗЕТКА УА"</p>
    <p style="margin-left: 20px">p/p 260 010 246 901, у банку  ПАТ "БАНК 3/4", м.Київ, МФО <br>
        380645, 01103, м.Київ, бульвар Дружби Народів, будинок 8-А, <br>
        тел. +38(044) 502-99-31, <br>
        код за ЄДРПОУ 37193071, ІПН 371930726554, № свід  100291522
    </p>
    <p style="text-decoration: underline"><b>Покупець: </b></p>
    <p style="margin-left: 20px"><b>{{ order.customer.nickName }}</b></p>
    <p style="margin-left: 20px"><b>Тел.: {{ order.phone }}</b></p>
    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="order">
        <tr>
            <td rowspan=1 align="center" valign=middle>№</td>
            <td rowspan=1 align="center" valign=middle>Номенклатура</td>
            <td rowspan=1 align="center" valign=middle>К-сть</td>
            <td rowspan=1 align="center" valign=middle>Од. вим.</td>
            <td rowspan=1 align="center" valign=middle>Ціна з ПДВ</td>
            <td rowspan=1 align="center" valign=middle>Сума з ПДВ</td>
        </tr>
        {% set myVal = 1 %}

        {% for op in order.availableOrderProducts %}

        <tr valign="top">
            <td align="center">
                {{ myVal }}
            </td>
            <td align="center">
                {{ op }}
            </td>
            <td align="center">
                {{ op.quantity }}
            </td>
            <td align="center">
                шт.
            </td>
            <td align="center">
                {{ op.price|number_format(2) }}
            </td>
            <td align="center">
                {{ op.summ|number_format(2) }}
            </td>

        </tr>
        {% set myVal = myVal + 1 %}
        {% endfor %}
        {% set myVal = myVal - 1 %}

    </table>
    <div style="float: right; width: 40%;">
        <p style="float: left; display: inline-block; font-size: 14px"><b>Всего к оплате:</b></p><p style="float: right; display: inline-block">{{ order.summ|number_format(2) }}</p>
        <br><br>
        <p style="display: block"><span style="float: left; text-align: left">У тому числі ПДВ </span><span style="float: right">{{ (order.summ * 0.20)|number_format(2)}}</span></p></div>
    <br><br><br>
    <p>Всього найменувань {{myVal}}, на суму {{ order.summ|number_format(2) }} грн</p>

    <br><br><br>

    <h2 style="text-align: center">Гарантійний талон №20190927101447</h2>

    {% for op in order.availableOrderProducts %}


    <table border="0" cellspacing="0" cellpadding="2" width="100%" class="order">
        <tr>
            <td rowspan=1 align="center" valign=middle>Продавець</td>
            <td rowspan=1 align="center" valign=middle>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "РОЗЕТКА УА"</td>
        <tr>
            <td rowspan=1 align="center" valign=middle>Найменування товару</td>
            <td rowspan=1 align="center" valign=middle>{{op}}</td>
        </tr>
        <tr>
            <td rowspan=1 align="center" valign=middle>Серійний номер</td>
            <td rowspan=1 align="center" valign=middle>див. на товарі</td>
        </tr>
        <tr>
            <td rowspan=1 align="center" valign=middle>Термін гарантії</td>
            <td rowspan=1 align="center" valign=middle>12 міс.</td>
        </tr>
        <tr>
            <td rowspan=1 align="center" valign=middle>Дата продажу</td>
            <td rowspan=1 align="center" valign=middle></td>
        </tr>
    </table>

    {% endfor %}

    <h3>Гарантійні зобов'язання</h3>
    <p><b>Гарантійне обслуговування надається протягом гарантійного строку, зазначеного в даному гарантійному талоні,
        за умови його збереження  продовж всього гарантійного строку та дотримання умов експлуатації товару, і полягає
        в безкоштовному ремонті в авторизованих сервісних центрах виробника з урахуванням гарантійних обмежень, зазначених
        виробником в супровідних документах, гарантійному талоні виробника або на сайті виробника чи імпортера.</b>
    </p>
    <p>Споживач перед придбанням товару перевіряє його комплектацію, відсутність пошкоджень або дефектів. </p>
    <p><b>Обмін або повернення товару належної якості здійснюється протягом 14 днів не враховуючи дня купівлі. </b></p>
    <p>Будь ласка, зверніть увагу, обміну або поверненню підлягає тільки новий товар, який не був в експлуатації
        і не має слідів використання. Перелік товарів, що не підлягають обміну(поверненню) передбачено Постановою КМУ № 216 від 23.09.1991р.</p>
    <p><b>При обміні або поверненні товару обов'язковоповинно бути збережено:</b></p>
    <p><b>  - розрахунковий документ;</b></p>
    <p><b>  - товарний вид, споживчі властивості;</b></p>
    <p><b>  - цілісність, неушкодженість та всі частини упаковки;</b></p>
    <p><b>  - пломби, ярлики, захисні плівки;</b></p>
    <p><b>  - заводське маркування.</b></p>
    <p>Якщо товар вийшов з ладу, або має суттєві недоліки в роботі, обмін такого товару або повернення коштів відбувається
        лише за наявності висновку сервісного центру, авторизованого виробником.</p>
    <br>
    <h3>Зверніть, будь ласка, увагу: </h3>
    <p>Детальну інформацію про гарантійне обслуговування Ви зможете знайти за адресою: <br> http://rozetka.com.ua/warranty/</p>
    <p>Перелік сервісних центрів: <br> http://rozetka.com.ua/service-centres/</p>
    <p>Контактний номер сервісного відділу: <br> (044) 364-83-65</p>
    <p>Також отримати інформацію щодо сервісного обслуговування Ви можете надіславши листа на адресу: service@rozetka.com.ua</p>
    <div style="text-align: center">
        <img src="http://www.barcodes4.me/barcode/c39/{{ order.number }}.png" />
    </div>

    <p>У випадку виходу товару з ладу з вини споживача, останній втрачає право на гарантійне обслуговування!</p>

</div>
</body>
</html>
